<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) [%X{requestId}] [%X{clientIp}] - %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="staging,prod">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%level","thread":"%thread","logger":"%logger","requestId":"%X{requestId}","correlationId":"%X{correlationId}","clientIp":"%X{clientIp}","httpMethod":"%X{httpMethod}","requestUri":"%X{requestUri}","message":"%replace(%msg){'[\r\n]+', ' '}","exception":"%xException"}%n</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
        <logger name="com.acadyk" level="INFO"/>
    </springProfile>
</configuration>
